# compiled code
*.dll
*.pdb
*.cache

#data directories
/data/**
/key/**


# Build results

**/bin/

/app/bin/**
/app/obj/**
/app/ClientApp/**
/app/*.log

/apptest/bin/**
/apptest/obj/**

/Retrospective.Domain.Model/bin/**
/Retrospective.Domain.Model/obj/**

/Retrospective.Domain/bin/**
/Retrospective.Domain/obj/**

/Retrospective.Domain.Test/bin/**
/Retrospective.Domain.Test/obj/**


/Retrospective.Data.Model/bin/**
/Retrospective.Data.Model/obj/**

/Retrospective.Data/bin/**
/Retrospective.Data/obj/**

/Retrospective.Data.Test/bin/**
/Retrospective.Data.Test/obj/**

/tools/testdata/bin/**
/tools/testdata/obj/**


/obj/


/app/.vscode/*

/client/node_modules/**
/client/dist/**

/tools/testdata/bin/**
/tools/testdata/obj/**   

/logs/**

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
.vscode/**

/web/root/dist/**
/web/root/vendor/**
/web/root/node_modules/**

coverage.info
coverage.json



