# compiled code
*.dll
*.pdb
*.cache

#data directories
/data
/key


# Build results

**/bin/

/app/bin/
/app/obj/
/app/dist/

/apptest/bin/**
/apptest/obj/

/retro-db-model/bin/*
/retro-db-model/obj/*

/retro-db/bin/*
/retro-db/obj/*

/retro-db-test/bin/*
/retro-db-test/obj/*

/app/.vscode/*

/client/node_modules/**

      

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
.vscode/settings.json
