<div class="container">
  <h3>Team</h3>
  <form>
    <div class="form-group">
      <label for="meetingName">Team Name</label>
      <input type="text" class="form-control" id="teamName" name="teamName" required [(ngModel)]="team.name" />
    </div>

    <div class="form-group">
      <label for="">Team Members</label>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Start Date</th>
            <th>InActive Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let teamMember of team.members;"  >
            <td> {{teamMember.userName}}</td>
            <td>
              <span *ngIf="teamMember.role==='Owner'">Owner</span>
              <select class="form-control" value="{{teamMember.role}}" *ngIf="teamMember.role!='Owner'">
                <option value="Stakeholder">Team Stakeholder</option>
                <option value="Member">Team Member</option>
                <option value="ScrumMaster">Scrum Master</option>
              </select>
            </td>
            <td>{{teamMember.startDate | date: "mediumDate"}}</td>
            <td></td>
            <td><button class="btn" *ngIf="teamMember.role!='Owner'">
                <i-delete class="color-secondary"></i-delete>
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <label for="">Invitations</label>
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Invite Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr scope="row" *ngFor="let invited of team.invited;">
            <td>{{invited.email}}</td>
            <td>{{getDisplayStringForRole(invited.role)}}</td>
            <td>{{invited.inviteDate | date: "mediumDate"}}</td>
            <td></td>
            <td>
              <button class="btn" (click)="removeInvite(invited.email);">
                <i-delete class="color-secondary"></i-delete>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div>
        <div>
          <div>
          <span>Invite someone to the team</span>   
          <button class="btn" data-toggle="collapse" data-target="#collapseNewInvite"><i-plus-square class="color-secondary"></i-plus-square></button>
          </div>
          <div class="row form-group card card-body collapse" id="collapseNewInvite">

            <div class="col">
              <label for="newEmail">Google Account Name (Email)</label>
              <input type="text" class="form-control" name="newEmail" [(ngModel)]="newUserEmail" />
            </div>
            <div class="col">
              <label for="newRole">Role on Team</label>
              <select class="form-control" name="newRole" [(ngModel)]="newUserRole">
                <option value="Stakeholder">Team Stakeholder</option>
                <option value="Member">Team Member</option>
                <option value="ScrumMaster">Scrum Master</option>
              </select>
            </div>
            <div class="col">
              <button class="btn btn-secondary" id="btnAddMember" (click)="addInvite();">Invite</button>
            </div>
          </div>
        </div>

      </div>
      <button class="btn btn-secondary" id="btnCancel" (click)="navigateToList();">Cancel</button>
      <button type="submit" class="btn btn-primary" id="btnSave" (click)="save();">Save</button>
    </div>
  </form>
</div>