<div class="modal fade"  role="dialog" id="modalEditNote"  >
  <div class="modal-dialog modal-dialog-centered editcomponent-dialog"  role="document">
    <div class="modal-content">
      <div class="modal-body" >
        <div>
        <select class="form-control" id="category">
            <option  *ngFor="let category of categories" [value]="category.categoryNum" >{{ category.name }}</option>
          </select>
        </div>
          <div class="card rounded note-yellow">
            <textarea style="height:100%; background-color:#ffff99; resize:none" id="text"></textarea>
          </div>
        </div>  
    <div class="modal-footer">
     <button (click)="onSave()" class="btn btn-primary btn-sm" data-dismiss="modal"><i-send></i-send></button>
      <button (click)="onCancel()" class="btn btn-secondary btn-sm" data-dismiss="modal"><i-x></i-x></button>
    </div>
  </div>
  </div>
</div>

