<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Privacy Policy</h1>
      <h3>What information does Algileretro.io collect?</h3>
      <p>
        Agileretro.io collects common web log information.
      </p>
      <p>
        The purpose of AgileRetro.io is to facilitate sprint retrospectives. As part of this process, comments are
        entered into the system and shared with others on their team. These comments are collected from the users as
        are the names of sprints, category comments and related information.
      </p>
      <p>
        If you sign in with Google Id, then your Google Id, and Name are also collected.
      </p>
      <h3>
        How does Agileretro.io use this information?
      </h3>
      <p>
        AgileRetro.io uses the weblog information to monitor website performance.

        The information that you supply to AgileRetro.io through the application is used to help facilitate sprint
        retrospectives for your team. 
      </p>
      <h3>
        What information does Agilereto.io share?
      </h3>
      <p>
        If you sign in with Google Id, then AgileRetro.io shares that information with Google. No other information is
        shared with third parties.
      </p>
      <p>
        April 21, 2019
      </p>
    </div>
  </div>
</div>