<div style="text-align:center">
    <h1>
     Agile Retrospective
    </h1>
</div>
<div class="container">
  <div class='container' [style.display]="isLoginAllowed ? 'inline' : 'none' ">
    <form (ngSubmit)="Login()"  >
      <div class="form-group">
        <label for="login">Login Name (temp)</label>
        <input type="text" class="form-control" id="login" name="login" 
        required [(ngModel)]="model.loginName" />
      </div>
      <button type="submit" class="btn btn-success">Login</button>
      </form>
  </div>
</div>
<div class="container" [style.display]="isDemo ? 'inline' : 'none'" >
      <div class='container'>
          <p>Click here to try the application without creating an account.
          </p>
          <form (ngSubmit)="LoginDemo()">
          <button type="submit" class="btn btn-success" >Demo</button>
          </form>
      </div>
</div>

