
div.note-yellow{
    background-color: #ffff99;
    height:150px;
    width:200px;
    box-shadow: 5px 5px 2px lightgray;
    text-align: left;
    font-size:12px;
    margin:4px;
}

.editcomponent-dialog{
    height:360px;
    width:240px;
}