<div class="alert alert-dismissible alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>This is your home screen. It has a listing of teams and retrospective meetings.&nbsp;&nbsp;
    From here, you can also accept invitations to join a team or start one of your own.</p>
</div>
<div class="card" *ngIf="this.ownedTeamCount()<1">
  <div class="card-header">
    <p>Create your own team</p>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-info" (click)="createTeam()">Create Team</button>
  </div>
</div>
<div class="card" *ngIf="this.inviteCount()>0">
  <div class="card-header">
    You are invited to join these teams:
  </div>
  <div class="card" >
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr scope="row" *ngFor="let team of inviteTeams">
            <td>{{team.name}}</td>
            <td><button class="btn btn-info" id="joinTeam" (click)="acceptInvitation(team.teamId);">Accept</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
<div id="accordian">
  <div class="card" *ngFor="let team of teams">
    <div class="card-header">
      <h5 class="mb-0">
        <a [attr.class]="teams.length>1 ? 'btn' : null" [attr.data-toggle]="teams.length>1 ? 'collapse': null"
          data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{team.name}}</a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h3>Team: {{team.name}}</h3>
        <p>{{team.message}}</p>
        <a [routerLink]="['/retrospective/teamedit', team.teamId]">Edit this team</a>
        <div><a [routerLink]="['/retrospective/meetingedit', team.teamId]">Add another retrospective meeting for this
            team</a></div>
        <br />
        <div class="container">
          <div class="card-group">
            <div class="card" *ngFor="let meeting of team.meetings">
              <div class="card-body">
                <h5>{{meeting.name}}</h5>
                <p>{{meeting.message}}</p>
                <p><a [routerLink]="['/retrospective/meetingedit', team.teamId, meeting.id]">
                    Edit this meeting name and categories
                  </a></p>
                <div>
                  <a class="btn btn-primary" [routerLink]="['/retrospective/comment', meeting.id]">
                    Enter retrospective comments&nbsp;<i-message-square></i-message-square>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>