<h3>Notes</h3>
<p *ngIf="!notes || !categories"><em>Loading...</em></p>
<div class="container">
  <div class="row">
    <div class="col-lg-6 card border-0"  *ngFor="let category of categories">
      <div style="background-color:#f0f0f5;padding:3px;" [attr.id]="this.CategoryDomId(category)">
      <h4 style="text-align:center">{{ category.name }} 
      <button class="btn btn-secondary  btn-sm" (click)="onNewNote(category.categoryId)">New</button></h4>
      </div>
      <div class="card-group">
      <div class="card-block" *ngFor="let note of notes">
        <ng-container *ngIf="note.categoryId==category.categoryId">
          <div class="card rounded note-yellow" (mouseenter)="onNoteMouseEnter(note)" (mouseleave)="onNoteMouseLeave(note)" [attr.id]="this.domId(note)" > 
          <div  style="overflow: scroll;" class="card-body" >{{ note.text }} </div>
          <div  class="card-footer" style="display:none">
              <button (click)="onEditId(note.commentId)" class="btn btn-secondary btn-sm retro-btn-edit" >Edit</button>
              <button (click)="onDeleteId(note.commentId)" class="btn btn-secondary btn-sm retro-btn-delete">Delete</button>
          </div>
        </div>
        </ng-container>
      </div>
    </div>
  </div>
  </div>
</div>

<app-componentedit></app-componentedit>
<!--
<div class="modal fade"  role="dialog" id="modalEditNote" *ngIf="selectedNote" >
  <div class="modal-dialog modal-dialog-centered"  style="width:300px" role="document">
    <div class="modal-content">
      <div class="modal-body" >
          <label>category</label>
          <label>comment</label>
             <div class="card rounded note-yellow">
                <textarea style="height:100%; background-color:#ffff99;" [(ngModel)]="selectedNote.text" ></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="onClearSelected()" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
            <button (click)="onDeleteSelected()" class="btn btn-secondary btn-sm" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>-->



