
<div class="container">
  <h3>{{team.name}}</h3>
    <form >
        <div class="form-group">
          <label for="meetingName">Meeting Name</label>
          <input type="text" class="form-control" id="meetingName" name="meetingName" 
          required [(ngModel)]="meeting.name"/>
       </div>
       <div class="form-group" >
          <label for="meetingCategories">Categories</label>
          <div class="card border-0" *ngFor="let category of meeting.categories; let i=index; let even=even; trackBy: categoryTracking" >
             <div class="category-item-row list-group-item"  
              [attr.id]="this.categoryDomId(category.categoryNum)" [ngClass]="{'fill-grey' : even==true }">
                <div class="container border-0" id="divCategory{{category.categoryNum}}">
                  <div class="row border-0 "  >
                    <div class="col">            
                      <input type="text" class="form-control" name="inputCategory{{category.categoryNum}}"
                        [(ngModel)]="category.name"/>
                    </div>
                    <div class="col">
                        <button class="btn" (click)="categoryMoveUp(category.categoryNum);" ><i-arrow-up class="color-primary"></i-arrow-up></button>
                        <button class="btn" (click)="categoryMoveDown(category.categoryNum);"><i-arrow-down class="color-primary"></i-arrow-down></button>
                        <button class="btn" (click)="categoryDelete(category.categoryNum);"><i-delete class="color-secondary"></i-delete ></button>
                    </div>
                  </div>
                </div>
             </div>
          </div> 
      </div>
      <div> 
        <button  class="btn btn-secondary" id="btnCancel"  (click)="navigateToList();">Cancel</button>
        <button class="btn btn-primary" id="btnAddCategory" (click)="addCategory();">Add Category</button>
        <button type="submit" class="btn btn-primary" id="btnSave" (click)="save();">Save</button>
      </div>
    </form>

</div>