<div  style="text-align:center"><h3 *ngIf="meeting">{{meeting.name}}</h3></div>
<p *ngIf="!comments || !categories"><em>Loading...</em></p>
<div class="container">
  <div class="row">
    <div class="col-lg-6 card border-0"  *ngFor="let category of categories">
      <div style="background-color:#f0f0f5;padding:3px;" [attr.id]="this.CategoryDomId(category)">
      <h4 style="text-align:center">{{ category.name }} 
      <button class="btn btn-secondary  btn-sm" (click)="onNewNote(category.categoryId)">New</button></h4>
      </div>
      <div class="card-group">
      <div class="card-block" *ngFor="let comment of comments">
        <ng-container *ngIf="comment.categoryId==category.categoryId">
          <div class="card rounded note-yellow" (mouseenter)="onNoteMouseEnter(comment)" (mouseleave)="onNoteMouseLeave(comment)" [attr.id]="this.domId(comment)" > 
          <div  style="overflow: scroll;" class="card-body" >{{ comment.text }} </div>
          <div  class="card-footer" style="display:none">
              <button (click)="onEditId(comment.commentId)" class="btn btn-secondary btn-sm retro-btn-edit" >Edit</button>
              <button (click)="onDeleteId(comment.commentId)" class="btn btn-secondary btn-sm retro-btn-delete">Delete</button>
          </div>
        </div>
        </ng-container>
      </div>
    </div>
  </div>
  </div>
</div>
<app-commentedit></app-commentedit>

<br/>
<button class="btn" (click)="getComments()">refresh</button>
