<div  style="text-align:center"><h3 *ngIf="meeting">{{meeting.name}}</h3></div>
<p *ngIf="!comments || !categories"><em>Loading...</em></p>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-med-3 col-lg-2 card border-0"  *ngFor="let category of categories">
      <div style="background-color:#f0f0f5;padding:3px;" [attr.id]="this.CategoryDomId(category)">
      <h4 style="text-align:center">{{ category.name }} 
      <button class="btn btn-secondary  btn-sm" (click)="onNewNote(category.categoryId)">
        new <i-message-square></i-message-square>
        </button>
      </h4>
      </div>
      <div class="card-group">
        <ng-container *ngFor="let comment of comments" >
          <ng-container *ngIf="comment.categoryNum==category.categoryNum">
            <div class="card-block mx-auto" >
              <div class="card rounded note-small note-yellow" (mouseenter)="onNoteMouseEnter(comment)" (mouseleave)="onNoteMouseLeave(comment)" [attr.id]="this.domId(comment)" > 
              <div  class="card-body note-body" >{{ comment.text }} </div>
              <div  class="card-footer" style="display:none; text-align: center">
                  <button (click)="onEditId(comment.commentId)" class="btn btn-secondary btn-sm retro-btn-edit" ><i-edit-3></i-edit-3></button>
                  <button (click)="onDeleteId(comment.commentId)" class="btn btn-secondary btn-sm retro-btn-delete">
                    <i-delete></i-delete>
                  </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  </div>
</div>
<app-commentedit></app-commentedit>

<br/>
<button class="btn" (click)="getComments()">refresh</button>
