<p>
  retrospectivelist works!
</p>
<div class='container'>
  <div>List of Teams</div>
  <div class="row" *ngFor="let team of teams">
    <div class="col"  >
      <h3>{{team.name}} - {{team.teamId}}</h3>
      <div class="container">
        <div class="col">
          <div class ="row" *ngFor="let meeting of team.meetings">
              <div>{{meeting.name}} - <a [routerLink]="['/comment', meeting.id]" >{{meeting.id}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
