<div class="container">
<div style="text-align:center"><h3 *ngIf="meeting">{{meeting.name}}</h3></div>
<p *ngIf="!comments || !categories"><em>Loading...</em></p>
<div class="container">
  <div class="row">
    <div class="card border-0 col-sm-6 col-med-4 col-lg-4 col-xl-2" 
      [class.col-lg-4]="!isCategoriesFew()"   
      [class.col-lg-2]="!isCategoriesFew()"  
      [class.col-xl-4]="isCategoriesFew()"  
      [class.col-xl-4]="isCategoriesFew()"    
      *ngFor="let category of categories">
      <div style="background-color:#f0f0f5;padding:3px;" [attr.id]="this.CategoryDomId(category)">
      <h4 style="text-align:center">{{ category.name }} 
      <button class="btn btn-primary  btn-sm" (click)="onNewNote(category.categoryNum)">
        new <i-message-square></i-message-square>
        </button>
      </h4>
      </div>
      <div class="card-group">
        <ng-container *ngFor="let comment of comments" >
          <ng-container *ngIf="comment.categoryNum==category.categoryNum">
            <div class="card-block mx-auto" >
              <div class="card rounded note-large note-yellow"  [attr.id]="this.domId(comment)" > 
              <div  class="card-body note-body" >
                <div *ngIf="comment.voteCount != 0">votes:{{comment.voteCount}}</div>
                {{ comment.text }} 
              </div>
              <div  class="card-footer" style="text-align: center">
                  <button (click)="onEditId(comment.commentId)" class="btn btn-primary btn-sm retro-btn-edit margin-2px" ><i-edit-3></i-edit-3></button>
                  <button *ngIf="!comment.thisUserVoted" (click)="onVoteUp(comment.commentId)" class="btn btn-primary btn-sm margin-2px">
                    <i-thumbs-up></i-thumbs-up>
                  </button>
                  <button *ngIf="comment.thisUserVoted"  (click)="onVoteDown(comment.commentId)" class="btn btn-primary btn-sm margin-2px">
                    <i-thumbs-down></i-thumbs-down>
                  </button>
                  <button (click)="onDeleteId(comment.commentId)" class="btn btn-secondary btn-sm retro-btn-delete margin-2px">
                      <i-delete></i-delete>
                    </button> 
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  </div>
</div>
<app-commentedit></app-commentedit>

<br/>
<button class="btn" (click)="getComments()">refresh</button>
</div>